body {
  font-family: "Courier New", Courier, monospace;
}
form {
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

form div {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  letter-spacing: 2px;
}

input {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  transition: border 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

p {
  margin-top: 0.25rem;
  color: #d9534f;
  font-size: 0.875rem;
}

button {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Make the select input narrower */
.react-select {
  max-width: 300px;
}

/* Larger font size and weight for options and selected value */
.react-select__single-value,
.react-select__option {
  font-size: 22px !important;
  font-weight: 400;
  display: flex;
  align-items: center;
}

/* Add spacing between flag emoji and text */
.react-select__single-value::first-letter,
.react-select__option::first-letter {
  font-size: 30px;
  margin-right: 10px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
}

.modal p {
  margin: 10px 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.modal button {
  position: relative;
  top: 15px;
  width: 100px !important;
  margin: 10px !important;
  background: #007bff;
  color: white;
  border: none;
  padding: 15px 0px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.modal button:hover {
  background: #0056b3;
}
.input {
  position: relative;
}
.inner-tip {
  position: absolute;
  right: 15px;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(100, 100, 100);
}
.redux-form .inner-tip {
  position: relative;
  left: 82%;
  top: -6.4vh;
  color: white;
  font-size: 15px;
}
.redux-form input {
  margin-bottom: 2vh;
}
.redux-form p {
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.validation-message {
  font-size: 15px;
  color: rgb(255, 75, 75) !important;
}

.sandbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 10vh;
}

.sandbox p {
  color: black;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sandbox button {
  margin-top: 2vh;
  width: 5vw;
  height: 5vh;
  background-color: rgb(230, 230, 230);
  color: black;
  font-size: 22px;
}
